[submodule "PipePipeClient"]
	path = PipePipeClient
	url = https://github.com/HritwikSinghal/PipePipeClient.git
	branch = patch
[submodule "PipePipeExtractor"]
	path = PipePipeExtractor
	url = https://github.com/InfinityLoop1308/PipePipeExtractor.git
	branch = main
[submodule "PipePipe.wiki"]
	path = PipePipe.wiki
	url = https://github.com/InfinityLoop1308/PipePipe.wiki.git
	branch = main
